

# the binaries in scite.exe.win32.zip shouldn't go in repo
_ctypes.pyd
_socket.pyd
msvcr71.dll
python25.dll
SciLexer.dll
Scintilla.dll
python25.zip
SciTE.exe


properties/pyplugin_generated.properties
properties/locale.properties


plugins/plugin_search/db/ssip.exe
plugins/plugin_search/db/ssip.cfg
plugins/plugin_search/db/sqlite3.dll
plugins/plugin_search/db/*.db

